.hire__btn{
  background: #fff;
  /* color: #2a7545; */
  color: #0E1831;
}

.hire__btn a{
  text-decoration: none;
  font-weight: 500;
}

.hire__btn:hover a{
  /* color: #2a7545; */
  color: #0E1831;
}

.hero__title span{
  color: #d1a249;
}

.hero__title{
  font-weight: 500;
}

.hero__img{
  width: 300px;
  height: 300px;
  border-radius: 10px; 
  background: #7865ff;
  /* background: #01d293; */
  /* background: #d1a249; */
  margin-left: auto;
}

.hero__section{
  padding-top: 150px;
}

.hero__content p{
  line-height: 30px;
  font-weight: 300;
}


/* responsive */
@media only screen and (max-width: 992px){
  .hero__content{
    width: 300px;
    height: 300px;
  }

  .hero__content p{
    font-size: 0.8rem;
  }

  .hero__btns button{
    display: block;
    padding: 5px 20px;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 576px){
  .hero__img{
    margin: auto;
  }
  .hero__content{
    margin-bottom: 50px;
  }
  .hero__title span{
    font-size: 2rem;
  }
}

