.hire__btn{
  background: #0f1626;
  padding: 7px 25px;
  border: 1px solid #d1a249;
  border-radius: 5px;
  color: #d1a249;
}

.hire__btn a{
  text-decoration: none;
  font-weight: 500;
  color: #d1a249;
}

.hire__btn:hover a{
  color: #d1a249;
}

.hero__title span{
  color: #d1a249;
}

.hero__title{
  font-weight: 500;
}

.hero__img{
  width: 300px;
  height: 300px;
  border-radius: 10px; 
  margin-left: auto;
}

.hero__section{
  padding-top: 150px;
}

.hero__content p{
  line-height: 30px;
  font-weight: 300;
}


/* responsive */
@media only screen and (max-width: 992px){
  .hero__content{
    width: 300px;
    height: 300px;
  }

  .hero__content p{
    font-size: 0.8rem;
  }

  .hero__btns button{
    display: block;
    padding: 5px 20px;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 576px){
  .hero__img{
    margin: auto;
  }
  .hero__content{
    margin-bottom: 50px;
  }
  .hero__title span{
    font-size: 2rem;
  }
}

