.hire__btn{
  background: #fff;
  /* color: #2a7545; */
  color: #0E1831;
}

.hire__btn a{
  text-decoration: none;
  font-weight: 500;
}

.hire__btn:hover a{
  /* color: #2a7545; */
  color: #0E1831;
}

.hero__title span{
  color: #d1a249;
}

.hero__title{
  font-weight: 600;
}

.hero__img{
  width: 350px;
  height: 350px;    
  margin-left: auto;
}

.hero__section{
  padding-top: 150px;
}

.hero__content p{
  line-height: 30px;
  font-weight: 300;
}