form{
    width: 100%;
    background: #171f38;
    padding: 30px;
    border-radius: 5px;
    /*  */
    /* margin-bottom: 15px; */
    font-family: "Poppins", sans-serif;
}

.form__input input, .form__input textarea{
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    margin-bottom: 15px;
    background: #171f38;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: .8rem;
}

.submit__btn{
    margin-top: 15px;
    padding: 7px 25px;
    font-size: .9rem;
    background: #d1a249;
    color:#fff;
    border: #d1a249;
    outline: none;
    border-radius: 5px;
}