.perfil__btns {
    background: #171f38;
    border-radius: 10px;
}

.perfil__btn {
    border: none;
    outline: none;
    width: 100%;
    padding: 20px;
    color: #fff;
    background: transparent;
    border-bottom: 1px solid #d1a24945;
    border-radius: 5px 5px 0px 0px;
    font-family: "Poppins", sans-serif;
}

.perfil__btn-active {
    background: #d1a249;
}

.perfil__btn:last-child{ 
    border-bottom: 0;
    border-radius: 0px 0px 5px 5px;
}

.perfil__content__wrapper {
    background: #171f38;
    padding: 30px;
    border-radius: 10px;
}

.perfil__content h3{
    margin-bottom: 15px;
}

.perfil__content p{
    line-height: 30px;
    font-weight: 300;
}

.social__links span a i{
    color: #d1a249;
}

.perfil__img{
    height: 185px;
}

.social__links span{
    margin-right: 10px;
}

/* responsive */
@media only screen and (max-width: 992px){
    .perfil__btn{
        padding: 10px 25px;
        font-size: 0.8rem;
    }

    .perfil__btns{
        margin-bottom: 40px;
    }

    .perfil__content p{
        font-size: 0.8rem;
        line-height: 25px;

    }
    .perfil__img{
        height: 102px;
    }
}
