.perfil__btns {
    /* background: #102048; */
    /* background: #0f1626; */
    /* background: #0E1831; */
    background: #2a9250;
    /* background: #f5f5f5; */
    border-radius: 10px;
}

.perfil__btn {
    border: none;
    outline: none;
    width: 100%;
    padding: 20px;
    color: #fff;
    background: transparent;
    border-bottom: 1px solid #d1a249;
    border-radius: 5px 5px 0px 0px;
}

.perfil__btn-active {
    background: #d1a249;
}

.perfil__btn:last-child{ 
    border-bottom: 0;
    border-radius: 0px 0px 5px 5px;
}

.perfil__content_wrapper {
    /* background: #132347; */
    padding: 20px;
}