/* #perfil{
    padding-top: 50px;
} */

.perfil__btns {
    background: #102048;
    /* background: #0f1626; */
    /* background: #0E1831; */
    /* background: #2a9250; */
    /* background: #f5f5f5; */
    border-radius: 10px;
}

.perfil__btn {
    border: none;
    outline: none;
    width: 100%;
    padding: 20px;
    color: #fff;
    background: transparent;
    border-bottom: 1px solid #d1a249;
    border-radius: 5px 5px 0px 0px;
}

.perfil__btn-active {
    background: #d1a249;
}

.perfil__btn:last-child{ 
    border-bottom: 0;
    border-radius: 0px 0px 5px 5px;
}

.perfil__content__wrapper {
    background: #132347;
    padding: 30px;
    border-radius: 10px;
}

.perfil__content h3{
    margin-bottom: 15px;
}

.perfil__content p{
    line-height: 20px;
    font-weight: 200;
}

.social__links span a i{
    color: #d1a249;
}

.perfil__img{
    /* background: #d1a249; */
    /* border-radius: 10px; */
    height: 185px;
}

.social__links span{
    margin-right: 10px;
}

