.award__item{
  width: 48%;
  margin-bottom: 15px;
}

.single__award{
  background: #171f38 ;
  padding: 20px;
  border-radius: 5px;
  border-bottom: 1px solid #d1a24945;
}

.award__title span {
  font-weight: 300 !important;
  color: #fff;
  opacity: 70% !important;
  font-size: 0.8rem;
}

.award__year{
  color: #d1a249;
  margin-bottom: 15px;
}

.award__url{
  color: #fff;
  font-size: 0.8rem;
}

/* responsive */
@media only screen and (max-width: 992px){
  .award__title{
    font-size: 0.8rem;
  }
  .award__title span, a {
    font-size: 0.7rem;
  }
  .award__year{
    font-size: 0.7rem;
  }
  .award__url{
    font-size: 0.7rem;
  }
}
