.table{
    border: none;
    border-collapse: collapse;
    bottom: 1px solid #132347;
    border-radius: 10px;
}

th,td{
    padding: 1.2rem 1rem !important;
    font-size: 1rem;
    text-align: center;
}

thead{
    background: #d1a249;
    color: #fff;
}

tr{
    font-size: 0.9rem;
    color: #fff;
    font-weight: 400;
}

tr:nth-child(even){
    background: #132347;
}