.skills__wrapper{
  background: #171f38;
  padding: 20px;
  border-radius: 10px;
}

.skills__wrapper p{
  text-align: center;
  color:#fff;
}

.skill__bar{
  height: 5px;
  width: 100%;
  position: relative;
  background: #fff;
  /* z-index: 999; */
  z-index: auto;
}

.skill__bar-percentage{
  background: #d1a249;
  width: 50%;
  height: 5px;
  position: absolute;
  /* z-index: 1000; */
  z-index: auto;
  top: 0;
  left: 0;
  border-radius: 50px;
}

.skill__title span{
  color: #d1a249;
}

.skill__title{
  margin-bottom: 10px;
}

/* responsive */
@media only screen and (max-width: 992px){
  .skill__title h6{
    font-size: 0.8rem;
  }
  .skill__title span{
    font-size: 0.7rem;
  }
  .skills__wrapper p{
    font-size: 0.8rem;
  }
}